# Envestnet Yodlee Api Example Data
YODLEE_CLIENT_ID=
YODLEE_SECRET=
YODLEE_LOGIN_NAME=
YODLEE_TEST_USER=
YODLEE_BASE_URL=https://sandbox.api.yodlee.com/ysl

#MONGO_URI
MONGO_URI=mongodb://localhost:27017/
#port number
PORT=3000
#Encryption
JWT_SECRET=your_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
ANTHROPIC_API_KEY=your_key_here